<div class="exercise-card">
  <img
    class="exercise-image"
    src="../../images/exercises/6a70ab08aa94289f3b201c51d30271e3.jpeg"
    alt="Abductors"
  />
  <div class="exercise-overlay">
    <h3 class="exercise-title">Abductors</h3>
    <p class="exercise-subtitle">Muscles</p>
  </div>
</div>
<div class="exercise-card">
  <img
    class="exercise-image"
    src="../../images/exercises/6a70ab08aa94289f3b201c51d30271e3.jpeg"
    alt="Abductors"
  />
  <div class="exercise-overlay">
    <h3 class="exercise-title">Abductors</h3>
    <p class="exercise-subtitle">Muscles</p>
  </div>
</div>
<div class="exercise-card">
  <img
    class="exercise-image"
    src="../../images/exercises/6a70ab08aa94289f3b201c51d30271e3.jpeg"
    alt="Abductors"
  />
  <div class="exercise-overlay">
    <h3 class="exercise-title">Abductors</h3>
    <p class="exercise-subtitle">Muscles</p>
  </div>
</div>
<div class="exercise-card">
  <img
    class="exercise-image"
    src="../../images/exercises/6a70ab08aa94289f3b201c51d30271e3.jpeg"
    alt="Abductors"
  />
  <div class="exercise-overlay">
    <h3 class="exercise-title">Abductors</h3>
    <p class="exercise-subtitle">Muscles</p>
  </div>
</div>
