:root {
  scroll-behavior: smooth;

  /* Colors */

  --color-primary-dark: rgb(36, 36, 36);
  --color-primery-light: rgb(244, 244, 244);

  /* #region Social media buttons */

  /* Buttons */
  .social-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 8px;
    width: 44px;
    height: 44px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    background-color: rgb(var(--color-primary-light));
    border-color: rgb(var(--color-primary-dark) / 0.1);
  }

  .social-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  .socials-icon {
    fill: rgb(var(--color-primary-dark) / 0.8);
    transition: fill 0.3s ease;
  }

  .social-item:hover,
  .social-item:focus-within {
    background-color: rgb(var(--color-primary-dark));
    border-color: rgb(var(--color-primary-dark));
  }

  .social-item:hover .socials-icon,
  .social-item:focus-within .socials-icon {
    fill: rgb(var(--color-primary-light));
  }

  /* #endregion */
  /* Inputs */
}
