.favorites-section {
  padding-top: 60px;
  padding-bottom: 80px;
}

.favorites-content .sidebar {
  margin-bottom: 40px;
}

.favorites-content .quote-wrapper {
  order: 1;
}

.favorites-content .useful-info-wrapper {
  flex-direction: column;
  gap: 15px;
  order: 2;
}

.favorites-content .useful-info-icon {
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: var(--primary-text-color);
}

.favorites-content .useful-info-text {
  display: none;
}

.favorites-content .sidebar-picture {
  order: 3;
}

.favorites-content .sidebar-image {
  min-height: 120px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .favorites-section {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .favorites-content .sidebar {
    margin-bottom: 64px;
    gap: 16px;
  }

  .favorites-content .quote-wrapper {
    flex-grow: 1;
    width: 100%;
  }

  .favorites-content .sidebar-picture {
    width: calc(50% - 8px);
  }

  .favorites-content .sidebar-image {
    min-height: 141px;
    max-width: unset;
  }

  .favorites-content .useful-info-wrapper {
    width: calc(50% - 8px);
    padding: 25px;
  }
}

@media only screen and (min-width: 1152px) {
  .favorites-content .sidebar {
    margin-top: 0;
  }

  .favorites-content {
    display: flex;
    align-items: flex-start;
    gap: 32px;
  }

  .favorites-content .sidebar {
    flex: 0 0 37%;
  }

  .favorites-content .useful-info-wrapper {
    padding: 25px;
    width: calc(50% - 8px);
  }

  .favorites-content .exercise-cards-list {
    max-height: 493px;
    overflow-y: auto;
    padding-right: 16px;
  }
}