/* Styles for Mobile devices */

.footer-wrapper {
  display: flex;
  flex-direction: column;
}


.footer-logo-social-title-input-container {
  display: flex;
  flex-direction: column;
}

.footer-logo-social-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.footer-title-input-container {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: inline-flex;
}

.footer-logo-icon {
  fill: var(--paper-white-color);
}

.footer-social-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
}

.footer-title-container {
  margin-bottom: 20px;
}
.footer-title {
  font-size: 38px;
  font-weight: 400;
  line-height: 44px;
  color: var(--paper-white-color);
}
.footer-input-container {
  max-width: 335px;
}

.footer-input-margin {
  margin-bottom: 20px;
}

.footer-input-message {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--paper-white-color);
}

.footer-input-btn {
  width: 100%;
}

.footer-bottom-container {
  margin-top: 120px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-bottom-text-container {
  display: flex;
  flex-direction: column;
}

.footer-right-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--footer-gray-color);
}

.footer-bottom-text-privacy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.footer-bottom-privacy-term {
  color: var(--footer-gray-color);
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {

  .footer-logo-social-title-input-container {
    flex-direction: row;
  }

  .footer-logo-social-container {
    margin-top: 64px;
  }
  .footer-title-input-container {
    margin-left: 114px;
    margin-top: 64px;
  }

  .footer-input-container {
    max-width: 352px;
  }

  .footer-bottom-text-container {
    flex-direction: row;
    gap: 78px;
  }

  .footer-title {
    font-size: 56px;
    line-height: 60px;
  }
  .footer-input-message {
    font-size: 18px;
    line-height: 24px;
  }

  .footer-title-container {
    margin-bottom: 32px;
  }

  .footer-bottom-container {
    margin-top: 64px;
  }

}

/* Styles for Desktop devices */
@media only screen and (min-width: 1152px) {

  .footer-title-input-container {
    flex-direction: row;
  }

  .footer-title-input-container {
    margin-left: 158px;
   }

  .footer-title-container {
    margin-right: 115px;
  }
  .footer-title {
    max-width: 595px;
  }

  .footer-input-container {
    max-width: 352px;
  }

  .footer-bottom-text-container {
    gap: 122px;
  }


}

