.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: var(--primary-bg-color);
}

@media only screen and (min-width: 768px) {
    .header {
        padding: 24px 32px;
    }
}

@media only screen and (min-width: 1152px) {
    .header {
        padding: 28px 32px;
    }
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.social-links-header {
    display: none;
    padding: 0;
}

@media only screen and (min-width: 768px) {
    .social-links-header {
        display: flex;
    }
}

.nav-logo {
    display: inline-flex;
    width: 156px;
}

.nav-logo-icon {
    fill: var(--charcoal-color);
}

.menu-toggle {
    display: flex;
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }   
}

.menu-toggle-icon {
    stroke: var(--charcoal-color);
}

.nav {
    display: none;
}

@media only screen and (min-width: 768px) {
    .nav {
        display: block;
    }
}

.nav-list {
    display: flex;
    gap: 6px;
    background-color: var(--charcoal-color);
    border-radius: 60px;
    padding: 8px 34px;
}

@media only screen and (min-width: 1152px) {
    .nav-list {
        padding: 8px 50px;
    }
}

.nav-link {
    display: inline-block;
    padding: 6px 12px;
    font-weight: 400;
    color: var(--paper-white-color);
    border-radius: 30px;
}

.nav-link.js-active {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.nav-link:hover:not(.js-active) {
    opacity: 0.8;
}