:root {
  --text-color: #f4f4f4;
  --dark-color: #242424;
}

* {
  box-sizing: border-box;
}

.modal {
  border: none;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 32px;
  }
}

.modal-container {
  padding: 40px 20px;
  border-radius: 20px;
  background: #242424;
  position: relative;
  color: var(--text-color);
  font-family: 'DM Sans';
  width: calc(100% - 40px);
  width: 335px;
}

@media screen and (min-width: 768px) {
  .modal-container {
    padding: 32px;
    min-width: 704px;
    /* display: flex; */
    /* column-gap: 32px; */
  }
}

.modal-container-image {
  border-radius: 12px;
  background-color: inherit;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.modal-close-button {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .modal-container-image {
    width: 270px;
    display: inline-block;
    height: 100%;
  }
}

.modal-close-button:hover {
  scale: 1.2;
}

.modal-summary {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .modal-summary {
    display: inline-block;
  }
}

.modal-title {
  font-family: 'DM Sans';
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
}

.modal-line {
  width: 100%;
  height: 1px;
  background-color: #f4f4f433;
  border: none;
}

.params-list {
  margin-top: 20px;

  padding: 10px 0;
  border-color: #f4f4f433;
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.params-item {
  text-wrap: nowrap;
}

.params-title {
  color: rgba(244, 244, 244, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  width: fit-content;
}

.params-value {
  font-size: 14px;
  font-weight: 500;
  line-height: 128.571%;
}

.modal-description {
  margin-top: 20px;
  color: rgba(244, 244, 244, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 128.571%;
}

.modal-container-buttons {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.button {
  border-radius: 30px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}

.light-button {
  color: var(--dark-color);
  stroke: var(--dark-color);
}

.light-button:hover {
  background-color: var(--dark-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  stroke: var(--text-color);
}

.dark-button {
  color: var(--text-color);
  stroke: var(--text-color);
  background-color: var(--dark-color);
  border: 1px solid var(--text-color);
}

.dark-button:hover {
  color: var(--dark-color);
  stroke: var(--dark-color);
  background-color: var(--text-color);
  border: 1px solid transparent;
}
