:root {
  --text-color: #f4f4f4;
  --dark-color: #242424;
}

* {
  box-sizing: border-box;
}

/* @media screen and (min-width: 768px) {
  .body {
    background-color: orange;
  }
} */

.modal {
  border: none;
  padding: 0;
  background-color: transparent;
  transition-property: transform;
  transition-duration: 200ms;
  transition-delay: 1s;
}

.modal *::first-letter {
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 704px;
  }
}

.modal-container {
  padding: 40px 20px;
  border-radius: 20px;
  background: #242424;
  position: relative;
  color: var(--text-color);
  font-family: 'DM Sans';
  /* width: calc(100% - 40px); */
  width: 335px;
}

@media screen and (min-width: 768px) {
  .modal-container {
    padding: 32px;
    min-width: 704px;
  }

  .modal-card {
    display: flex;
    column-gap: 32px;
  }
}

.modal-container-image {
  border-radius: 12px;
  background-color: inherit;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .modal-container-image {
    height: 100%;
    min-width: 270px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.modal-close-button {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  color: inherit;
  padding: 0;
}

.modal-close-button:hover {
  scale: 1.2;
}

.modal-summary {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .modal-summary {
    min-width: 10%;
  }
}

.modal-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
}

@media screen and (min-width: 768px) {
  .modal-title {
    font-size: 24px;
    line-height: 133.333%;
  }
}

.modal-ratin {
  margin-top: 10px;
  color: #f4f4f4;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  /* display: flex; */
  /* align-items: center; */
  gap: 2px;
}

.rating-stars {
  /* display: flex; */
  /* align-items: center; */
  gap: 2px;
}

.modal-line {
  width: 100%;
  height: 1px;
  background-color: #f4f4f433;
  border: none;
}

.params-list {
  margin-top: 20px;

  padding: 10px 0;
  border-color: #f4f4f433;
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .params-list {
    padding: 8px 0;
    margin-top: 16px;
    gap: 16px;
  }
}

.params-item {
  text-wrap: nowrap;
}

.params-title {
  color: rgba(244, 244, 244, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  width: fit-content;
}

.params-value {
  font-size: 14px;
  font-weight: 500;
  line-height: 128.571%;
}

.modal-description {
  margin-top: 20px;
  color: rgba(244, 244, 244, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 128.571%;
}

@media screen and (min-width: 768px) {
  .modal-description {
    margin-top: 16px;
  }
}

.modal-container-buttons {
  min-width: 100%;
  /* flex: ; */
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .modal-container-buttons {
    margin-top: 64px;
    flex-direction: row;
    justify-content: right;
  }
}

.button {
  border-radius: 30px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}

@media screen and (min-width: 768px) {
  .modal-button-favorite {
    flex-grow: 1;
  }
}

.light-button {
  color: var(--dark-color);
  stroke: var(--dark-color);
}

.light-button:hover {
  background-color: var(--dark-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  stroke: var(--text-color);
}

.dark-button {
  color: var(--text-color);
  stroke: var(--text-color);
  background-color: var(--dark-color);
  border: 1px solid var(--text-color);
}

.dark-button:hover {
  color: var(--dark-color);
  stroke: var(--dark-color);
  background-color: var(--text-color);
  border: 1px solid transparent;
}
