<section class="section">
  <div class="container-exercises-cards">
    <ul class="exercise-cards">
      <li class="exercise-card">
        <div class="exercise-card-top-bar">
          <a class="exercise-badge" href="#">WORKOUT</a>
          <span class="rating-wrapper">
            <p class="exercise-rating">4.0</p>
            <svg
              class="icon fill-icon exercise-rating-icon"
              width="14"
              height="14"
            >
              <use href="/images/sprite.svg#icon-star"></use>
            </svg>
          </span>
          <a class="exercise-card-btn" href="#">
            Start
            <svg class="icon fill-icon arrow-icon" width="16" height="16">
              <use href="/images/sprite.svg#icon-arw-scroll"></use>
            </svg>
          </a>
        </div>
        <div class="main-block">
          <div class="icon-runningman-bg">
            <svg class="icon fill-icon icon-runningman" width="16" height="16">
              <use href="/images/sprite.svg#icon-runningman"></use>
            </svg>
          </div>
          <h3 class="exercise-card-title">Air bike</h3>
        </div>

        <ul class="exercise-card-bottom-bar">
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Burned calories:</p>
            <p class="bottom-bar-item-content">312 / 3 min...</p>
          </li>
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Body part:</p>
            <p class="bottom-bar-item-content">Waist</p>
          </li>
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Target:</p>
            <p class="bottom-bar-item-content">Abs</p>
          </li>
        </ul>
      </li>
      <li class="exercise-card">
        <div class="exercise-card-top-bar">
          <a class="exercise-badge" href="#">WORKOUT</a>
          <span class="rating-wrapper">
            <p class="exercise-rating">4.0</p>
            <svg
              class="icon fill-icon exercise-rating-icon"
              width="14"
              height="14"
            >
              <use href="/images/sprite.svg#icon-star"></use>
            </svg>
          </span>
          <a class="exercise-card-btn" href="#">
            Start
            <svg class="icon fill-icon arrow-icon" width="16" height="16">
              <use href="/images/sprite.svg#icon-arw-scroll"></use>
            </svg>
          </a>
        </div>
        <div class="main-block">
          <div class="icon-runningman-bg">
            <svg class="icon fill-icon icon-runningman" width="16" height="16">
              <use href="/images/sprite.svg#icon-runningman"></use>
            </svg>
          </div>
          <h3 class="exercise-card-title">Air bike</h3>
        </div>

        <ul class="exercise-card-bottom-bar">
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Burned calories:</p>
            <p class="bottom-bar-item-content">312 / 3 min...</p>
          </li>
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Body part:</p>
            <p class="bottom-bar-item-content">Waist</p>
          </li>
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Target:</p>
            <p class="bottom-bar-item-content">Abs</p>
          </li>
        </ul>
      </li>
      <li class="exercise-card">
        <div class="exercise-card-top-bar">
          <a class="exercise-badge" href="#">WORKOUT</a>
          <span class="rating-wrapper">
            <p class="exercise-rating">4.0</p>
            <svg
              class="icon fill-icon exercise-rating-icon"
              width="14"
              height="14"
            >
              <use href="/images/sprite.svg#icon-star"></use>
            </svg>
          </span>
          <a class="exercise-card-btn" href="#">
            Start
            <svg class="icon fill-icon arrow-icon" width="16" height="16">
              <use href="/images/sprite.svg#icon-arw-scroll"></use>
            </svg>
          </a>
        </div>
        <div class="main-block">
          <div class="icon-runningman-bg">
            <svg class="icon fill-icon icon-runningman" width="16" height="16">
              <use href="/images/sprite.svg#icon-runningman"></use>
            </svg>
          </div>
          <h3 class="exercise-card-title">Air bike</h3>
        </div>

        <ul class="exercise-card-bottom-bar">
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Burned calories:</p>
            <p class="bottom-bar-item-content">312 / 3 min...</p>
          </li>
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Body part:</p>
            <p class="bottom-bar-item-content">Waist</p>
          </li>
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Target:</p>
            <p class="bottom-bar-item-content">Abs</p>
          </li>
        </ul>
      </li>
      <li class="exercise-card">
        <div class="exercise-card-top-bar">
          <a class="exercise-badge" href="#">WORKOUT</a>
          <span class="rating-wrapper">
            <p class="exercise-rating">4.0</p>
            <svg
              class="icon fill-icon exercise-rating-icon"
              width="14"
              height="14"
            >
              <use href="/images/sprite.svg#icon-star"></use>
            </svg>
          </span>
          <a class="exercise-card-btn" href="#">
            Start
            <svg class="icon fill-icon arrow-icon" width="16" height="16">
              <use href="/images/sprite.svg#icon-arw-scroll"></use>
            </svg>
          </a>
        </div>
        <div class="main-block">
          <div class="icon-runningman-bg">
            <svg class="icon fill-icon icon-runningman" width="16" height="16">
              <use href="/images/sprite.svg#icon-runningman"></use>
            </svg>
          </div>
          <h3 class="exercise-card-title">Air bike</h3>
        </div>

        <ul class="exercise-card-bottom-bar">
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Burned calories:</p>
            <p class="bottom-bar-item-content">312 / 3 min...</p>
          </li>
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Body part:</p>
            <p class="bottom-bar-item-content">Waist</p>
          </li>
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Target:</p>
            <p class="bottom-bar-item-content">Abs</p>
          </li>
        </ul>
      </li>
      <li class="exercise-card">
        <div class="exercise-card-top-bar">
          <a class="exercise-badge" href="#">WORKOUT</a>
          <span class="rating-wrapper">
            <p class="exercise-rating">4.0</p>
            <svg
              class="icon fill-icon exercise-rating-icon"
              width="14"
              height="14"
            >
              <use href="/images/sprite.svg#icon-star"></use>
            </svg>
          </span>
          <a class="exercise-card-btn" href="#">
            Start
            <svg class="icon fill-icon arrow-icon" width="16" height="16">
              <use href="/images/sprite.svg#icon-arw-scroll"></use>
            </svg>
          </a>
        </div>
        <div class="main-block">
          <div class="icon-runningman-bg">
            <svg class="icon fill-icon icon-runningman" width="16" height="16">
              <use href="/images/sprite.svg#icon-runningman"></use>
            </svg>
          </div>
          <h3 class="exercise-card-title">Air bike</h3>
        </div>

        <ul class="exercise-card-bottom-bar">
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Burned calories:</p>
            <p class="bottom-bar-item-content">312 / 3 min...</p>
          </li>
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Body part:</p>
            <p class="bottom-bar-item-content">Waist</p>
          </li>
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Target:</p>
            <p class="bottom-bar-item-content">Abs</p>
          </li>
        </ul>
      </li>
      <li class="exercise-card">
        <div class="exercise-card-top-bar">
          <a class="exercise-badge" href="#">WORKOUT</a>
          <span class="rating-wrapper">
            <p class="exercise-rating">4.0</p>
            <svg
              class="icon fill-icon exercise-rating-icon"
              width="14"
              height="14"
            >
              <use href="/images/sprite.svg#icon-star"></use>
            </svg>
          </span>
          <a class="exercise-card-btn" href="#">
            Start
            <svg class="icon fill-icon arrow-icon" width="16" height="16">
              <use href="/images/sprite.svg#icon-arw-scroll"></use>
            </svg>
          </a>
        </div>
        <div class="main-block">
          <div class="icon-runningman-bg">
            <svg class="icon fill-icon icon-runningman" width="16" height="16">
              <use href="/images/sprite.svg#icon-runningman"></use>
            </svg>
          </div>
          <h3 class="exercise-card-title">Air bike</h3>
        </div>

        <ul class="exercise-card-bottom-bar">
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Burned calories:</p>
            <p class="bottom-bar-item-content">312 / 3 min...</p>
          </li>
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Body part:</p>
            <p class="bottom-bar-item-content">Waist</p>
          </li>
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Target:</p>
            <p class="bottom-bar-item-content">Abs</p>
          </li>
        </ul>
      </li>
      <li class="exercise-card">
        <div class="exercise-card-top-bar">
          <a class="exercise-badge" href="#">WORKOUT</a>
          <span class="rating-wrapper">
            <p class="exercise-rating">4.0</p>
            <svg
              class="icon fill-icon exercise-rating-icon"
              width="14"
              height="14"
            >
              <use href="/images/sprite.svg#icon-star"></use>
            </svg>
          </span>
          <a class="exercise-card-btn" href="#">
            Start
            <svg class="icon fill-icon arrow-icon" width="16" height="16">
              <use href="/images/sprite.svg#icon-arw-scroll"></use>
            </svg>
          </a>
        </div>
        <div class="main-block">
          <div class="icon-runningman-bg">
            <svg class="icon fill-icon icon-runningman" width="16" height="16">
              <use href="/images/sprite.svg#icon-runningman"></use>
            </svg>
          </div>
          <h3 class="exercise-card-title">Air bike</h3>
        </div>

        <ul class="exercise-card-bottom-bar">
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Burned calories:</p>
            <p class="bottom-bar-item-content">312 / 3 min...</p>
          </li>
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Body part:</p>
            <p class="bottom-bar-item-content">Waist</p>
          </li>
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Target:</p>
            <p class="bottom-bar-item-content">Abs</p>
          </li>
        </ul>
      </li>
      <li class="exercise-card">
        <div class="exercise-card-top-bar">
          <a class="exercise-badge" href="#">WORKOUT</a>
          <span class="rating-wrapper">
            <p class="exercise-rating">4.0</p>
            <svg
              class="icon fill-icon exercise-rating-icon"
              width="14"
              height="14"
            >
              <use href="/images/sprite.svg#icon-star"></use>
            </svg>
          </span>
          <a class="exercise-card-btn" href="#">
            Start
            <svg class="icon fill-icon arrow-icon" width="16" height="16">
              <use href="/images/sprite.svg#icon-arw-scroll"></use>
            </svg>
          </a>
        </div>
        <div class="main-block">
          <div class="icon-runningman-bg">
            <svg class="icon fill-icon icon-runningman" width="16" height="16">
              <use href="/images/sprite.svg#icon-runningman"></use>
            </svg>
          </div>
          <h3 class="exercise-card-title">Air bike</h3>
        </div>

        <ul class="exercise-card-bottom-bar">
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Burned calories:</p>
            <p class="bottom-bar-item-content">312 / 3 min...</p>
          </li>
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Body part:</p>
            <p class="bottom-bar-item-content">Waist</p>
          </li>
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Target:</p>
            <p class="bottom-bar-item-content">Abs</p>
          </li>
        </ul>
      </li>
      <li class="exercise-card">
        <div class="exercise-card-top-bar">
          <a class="exercise-badge" href="#">WORKOUT</a>
          <span class="rating-wrapper">
            <p class="exercise-rating">4.0</p>
            <svg
              class="icon fill-icon exercise-rating-icon"
              width="14"
              height="14"
            >
              <use href="/images/sprite.svg#icon-star"></use>
            </svg>
          </span>
          <a class="exercise-card-btn" href="#">
            Start
            <svg class="icon fill-icon arrow-icon" width="16" height="16">
              <use href="/images/sprite.svg#icon-arw-scroll"></use>
            </svg>
          </a>
        </div>
        <div class="main-block">
          <div class="icon-runningman-bg">
            <svg class="icon fill-icon icon-runningman" width="16" height="16">
              <use href="/images/sprite.svg#icon-runningman"></use>
            </svg>
          </div>
          <h3 class="exercise-card-title">Air bike</h3>
        </div>

        <ul class="exercise-card-bottom-bar">
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Burned calories:</p>
            <p class="bottom-bar-item-content">312 / 3 min...</p>
          </li>
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Body part:</p>
            <p class="bottom-bar-item-content">Waist</p>
          </li>
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Target:</p>
            <p class="bottom-bar-item-content">Abs</p>
          </li>
        </ul>
      </li>
      <li class="exercise-card">
        <div class="exercise-card-top-bar">
          <a class="exercise-badge" href="#">WORKOUT</a>
          <span class="rating-wrapper">
            <p class="exercise-rating">4.0</p>
            <svg
              class="icon fill-icon exercise-rating-icon"
              width="14"
              height="14"
            >
              <use href="/images/sprite.svg#icon-star"></use>
            </svg>
          </span>
          <a class="exercise-card-btn" href="#">
            Start
            <svg class="icon fill-icon arrow-icon" width="16" height="16">
              <use href="/images/sprite.svg#icon-arw-scroll"></use>
            </svg>
          </a>
        </div>
        <div class="main-block">
          <div class="icon-runningman-bg">
            <svg class="icon fill-icon icon-runningman" width="16" height="16">
              <use href="/images/sprite.svg#icon-runningman"></use>
            </svg>
          </div>
          <h3 class="exercise-card-title">Air bike</h3>
        </div>

        <ul class="exercise-card-bottom-bar">
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Burned calories:</p>
            <p class="bottom-bar-item-content">312 / 3 min...</p>
          </li>
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Body part:</p>
            <p class="bottom-bar-item-content">Waist</p>
          </li>
          <li class="bottom-bar-item">
            <p class="bottom-bar-item-label">Target:</p>
            <p class="bottom-bar-item-content">Abs</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
