<template id="exercise-modal-rating">
  <form action="" class="modal-form">
    <fieldset class="rating-stars-fieldset" data-rating-list>
      <h2 class="title modal-rating-title">Rating</h2>
      <div class="modal-rating-group">
        <span class="modal-rating-value" data-rating-title aria-label="rating"
          >4.0</span
        >
        <ul class="rating-stars-list">
          <li class="rating-stars-item">
            <label>
              <input
                type="radio"
                name="rating"
                value="1"
                class="rating-stars-input"
              />
              <load
                src="partials/components/rating-star.html"
                width="24"
                height="24"
              />
            </label>
          </li>
          <li class="rating-stars-item">
            <label
              ><input
                type="radio"
                name="rating"
                value="2"
                class="rating-stars-input" /><load
                src="partials/components/rating-star.html"
                width="24"
                height="24"
            /></label>
          </li>
          <li class="rating-stars-item">
            <label
              ><input
                type="radio"
                name="rating"
                value="3"
                class="rating-stars-input" /><load
                width="24"
                height="24"
                src="partials/components/rating-star.html"
            /></label>
          </li>
          <li class="rating-stars-item">
            <label
              ><input
                type="radio"
                name="rating"
                value="4"
                class="rating-stars-input" /><load
                width="24"
                height="24"
                src="partials/components/rating-star.html"
            /></label>
          </li>
          <li class="rating-stars-item">
            <label
              ><input
                type="radio"
                name="rating"
                value="5"
                class="rating-stars-input" /><load
                width="24"
                height="24"
                src="partials/components/rating-star.html"
            /></label>
          </li>
        </ul>
      </div>
    </fieldset>
    <label for="" class="modal-label">
      <input
        class="input inverse"
        type="text"
        name="email"
        placeholder="Email"
        id="email"
        minlength="3"
        required
        aria-label="enter your email"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
      />
    </label>
    <label for="" class="modal-label">
      <div class="textarea-wrapper">
        <textarea
          class="input inverse modal-textarea"
          type="text"
          name="comment"
          placeholder="Your comment"
          id="comment"
          minlength="3"
          required
          aria-label="enter your comment"
        ></textarea>
      </div>
    </label>
    <button
      name="submit"
      type="submit"
      class="btn btn-primary inverse modal-rating-button"
    >
      <span>Send</span>
    </button>
  </form>
</template>
