<div class="mobile-menu js-mobile-menu">
  <button
    class="mobile-menu-close js-menu-toggle-close"
    aria-label="Close mobile menu"
  >
    <svg class="mobile-menu-close-icon" width="32" height="32">
      <use href="../images/sprite.svg#icon-x"></use>
    </svg>
  </button>
  <nav class="mobile-nav">
    <ul class="mobile-nav-list">
      <li class="mobile-nav-item">
        <a class="mobile-nav-link" href="../index.html">Home</a>
      </li>
      <li class="mobile-nav-item">
        <a class="mobile-nav-link" href="../favorites.html">Favorites</a>
      </li>
    </ul>
  </nav>
  <load
    src="partials/components/social-links.html"
    extra-class="mobile-menu-social-links inverse"
  />
</div>
