<section class="hero">
  <div class="container hero-container">
    <div class="hero-text">
      <div class="hero-title-wrapper">
        <img class="hero-icon" src="./images/sun.svg" alt="Sun icon" loading="lazy" />
        <h1 class="hero-title">
          Get <span class="hero-title-body">Body</span> in <br />
          <span class="hero-title-second-line">shape, Stay healthy</span>
        </h1>
      </div>
      <p class="hero-subtitle">
        Transform your physique and embrace a healthier lifestyle with our
        comprehensive fitness and nutrition support.
      </p>
    </div>
    <picture class="hero-main-picture">
      <source
        srcset="
          /images/hero/hero_desktop_webp@1x.webp 1x,
          /images/hero/hero_desktop_webp@2x.webp 2x
        "
        media="(min-width: 1152px)"
        type="image/webp"
      />
      <source
        srcset="
          /images/hero/hero_tablet_webp@1x.webp 1x,
          /images/hero/hero_tablet_webp@2x.webp 2x
        "
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="
          /images/hero/hero_mobile_webp@1x.webp 1x,
          /images/hero/hero_mobile_webp@2x.webp 2x
        "
        media="(max-width: 767px)"
        type="image/webp"
      />
      <img
        src="/images/hero/hero_mobile_webp@1x.webp"
        alt="Hero main image"
        loading="eager"
        class="hero-main-image"
      />
    </picture>

    <div class="hero-tags-container">
      <picture class="hero-legs-pic">
        <source
          srcset="
            /images/hero/hero_legs@1x.webp 1x,
            /images/hero/hero_legs@2x.webp 2x
          "
          type="image/webp"
        />
        <img
          src="/images/hero/hero_legs@1x.webp"
          alt="Hero legs"
          loading="lazy"
          class="hero-legs-image"
        />
      </picture>
      <ul class="hero-tags">
        <li class="hero-tag">#Sport</li>
        <li class="hero-tag">#Healthy</li>
        <li class="hero-tag">#Workout</li>
        <li class="hero-tag">#Diet</li>
      </ul>
    </div>
  </div>
</section>
