/* #region Buttons */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border-radius: 30px;
  border: none;
  padding: 12px 24px;
  height: 48px;
  width: fit-content;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  transition: background-color 0.3s ease, color 0.3s ease, fill 0.3s ease;
}

.btn-icon {
  stroke: var(--primary-text-color);
  fill: transparent;
  transition: fill 0.3s ease;
}

.btn:hover,
.btn:focus {
  background-color: var(--primary-text-color);
  border: 1px solid var(--primary-bg-color);
  color: var(--primary-bg-color);
}

.btn:hover .btn-icon,
.btn:focus .btn-icon {
  stroke: var(--primary-bg-color);
}

.btn.reverse {
  width: fit-content;
  background-color: var(--primary-text-color);
  color: var(--primary-bg-color);
  border: 1px solid var(--primary-bg-color);
}

.btn.reverse:hover,
.btn.reverse:focus {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}
/* #endregion */

/* #region Nav Buttons */
.nav-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border: none;
  border-radius: 30px;
  padding: 6px 12px;
  height: 36px;
  width: fit-content;
  background: var(--primary-bg-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
  transition: background-color 0.3s ease, color 0.3s ease, fill 0.3s ease;
}

.nav-btn:hover,
.nav-btn:focus {
  background-color: var(--primary-text-color);
  color: var(--primary-bg-color);
}

.nav-btn.reverse {
  background: var(--primary-text-color);
  color: var(--primary-bg-color);
}

.nav-btn.reverse:hover,
.nav-btn.reverse:focus {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

/* #endregion */

/* #region Scroll Buttons */

.scroll-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--primary-text-color);
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease, fill 0.3s ease;
}

.scroll-btn .scroll-icon {
  width: 12px;
  height: 12px;
  fill: var(--primary-bg-color);
  transition: fill 0.3s ease, color 0.3s ease, fill 0.3s ease;
}

.scroll-btn:hover,
.scroll-btn:focus {
  background-color: var(--primary-bg-color);
}

.scroll-btn:hover .scroll-icon,
.scroll-btn:focus .scroll-icon {
  fill: var(--primary-text-color);
}

@media only screen and (min-width: 768px) {
  .scroll-btn {
    width: 100px;
    height: 100px;
  }

  .scroll-btn .scroll-icon {
    width: 33px;
    height: 33px;
  }
}
/* #endregion */
