/* #region Buttons */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 30px;
  border: none;
  padding: 12px 24px;
  height: 48px;
  width: fit-content;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary {
  border: 1px solid var(--charcoal-color);
  background-color: var(--charcoal-color);
  color: var(--paper-white-color);
}

.btn .icon {
  transition: fill 0.3s ease, stroke 0.3s ease;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--paper-white-color);
  border: 1px solid var(--charcoal-color);
  color: var(--charcoal-color);
}

.btn-outline {
  background-color: transparent;
  color: var(--charcoal-color);
  border: 1px solid var(--charcoal-color);
}

.btn-outline:hover,
.btn-outline:focus {
  background-color: var(--charcoal-color);
  border: 1px solid var(--charcoal-color);
  color: var(--paper-white-color);
}

.btn-primary.inverse {
  border: 1px solid var(--paper-white-color);
  background-color: var(--paper-white-color);
  color: var(--charcoal-color);
}

.btn-primary.inverse:hover,
.btn-primary.inverse:focus {
  background-color: var(--charcoal-color);
  border: 1px solid var(--paper-white-color);
  color: var(--paper-white-color);
}

.btn-outline.inverse {
  background-color: transparent;
  color: var(--paper-white-color);
  border: 1px solid var(--paper-white-color);
}

.btn-outline.inverse:hover,
.btn-outline.inverse:focus {
  background-color: var(--paper-white-color);
  border: 1px solid var(--paper-white-color);
  color: var(--charcoal-color);
}

.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: fit-content;
  padding: 2px;
  font-size: 0;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  color: var(--charcoal-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-icon.inverse {
  color: var(--paper-white-color);
}

/* #endregion */

/* #region Scroll Buttons */
.scroll-btn {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--charcoal-color);
  color: var(--paper-white-color);
  opacity: 0;
  right: -100px;
  bottom: 20px;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease, fill 0.3s ease,
    opacity 0.2s ease, right 0.2s ease;
}

.scroll-btn-visible {
  opacity: 1;
  right: 20px;
  bottom: 20px;
}

.scroll-btn .icon {
  width: 12px;
  height: 12px;
  transition: fill 0.3s ease, color 0.3s ease, fill 0.3s ease;
}

.scroll-btn:hover {
  background-color: var(--paper-white-color);
  color: var(--charcoal-color);
}

@media only screen and (min-width: 768px) {
  .scroll-btn {
    width: 100px;
    height: 100px;
    bottom: 40px;
  }

  .scroll-btn-visible {
    opacity: 1;
    right: 40px;
    bottom: 40px;
  }

  .scroll-btn .icon {
    width: 33px;
    height: 33px;
  }
}
/* #endregion */
