.exercise-categories-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.exercise-categories-list:has(.exercise-category-card) {
  margin-bottom: 20px;
}

.exercise-category-card {
  position: relative;
  height: 225px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.exercise-category-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.exercise-category-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gray-middle);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--paper-white-color);
}

.exercise-category-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.exercise-category-title::first-letter {
  text-transform: uppercase;
}

.exercise-category-subtitle {
  font-size: 16px;
  margin: 5px 0 0;
}

@media only screen and (min-width: 768px) {
  .exercise-categories-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 15px;
  }

  .exercise-categories-list:has(.exercise-category-card) {
    margin-bottom: 32px;
  }
}
