.yellow-box {
  width: 400px;
  height: 400px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

/* Стилі для кнопки */
.yellow-box button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
}

.yellow-box button:hover {
  background-color: #f0f0f0;
}

.page-header {
  margin-bottom: 20px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 40px;
}

.section-heading {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.357;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
  margin-right: 24px;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.breadcrumbs-category {
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--gray-middle);
}

.section-heading::after {
  font-size: 28px;
  content: '/';
  position: absolute;
  color: var(--primary-text-color);
  right: -16px;
}

.input-wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.filter-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.filter-btn {
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  padding-bottom: 8px;
  color: var(--gray-moderate);
  position: relative;
  display: block;
  width: fit-content;
  white-space: nowrap;
}

.filter-btn.active {
  color: var(--primary-text-color);
}

.filter-btn.active::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--primary-text-color);
  border-radius: 2px;
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
  color: var(--primary-text-color);
}

@media only screen and (min-width: 768px) {
  .breadcrumbs {
    margin-bottom: 32px;
  }

  .section-heading {
    font-size: 44px;
    line-height: 1.09;
  }

  .section-heading::after {
    font-size: 44px;
  }

  .breadcrumbs-category {
    font-size: 24px;
    line-height: 1.333;
    letter-spacing: -0.02em;
  }

  .filters-wrapper .input-wrapper {
    width: 273px;
    margin-bottom: 0;
  }

  .filter-items {
    margin-bottom: 0;
  }

  .filter-bar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
}

@media only screen and (min-width: 1152px) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 1088px;
  }
}
