.input-wrapper {
  width: 273px;
  height: 48px;
  border: 1px solid var(--primary-text-color);
  border-radius: 30px;
  padding: 12px 14px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: transparent;
  color: var(--primary-text-color);
  z-index: 2;
}

.button-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: auto;
}

.input-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background: none;
}

.input-icon {
  width: 18px;
  height: 18px;
  stroke: var(--primary-text-color);
  fill: transparent;
  pointer-events: none;
}
