.modal {
  border: none;
  padding: 0;
  background-color: transparent;
}

.modal *::first-letter {
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 704px;
  }
}

.modal-container {
  padding: 40px 20px;
  border-radius: 20px;
  background: var(--charcoal-color);
  position: relative;
  color: var(--paper-white-color);
  width: 335px;
}

@media screen and (min-width: 768px) {
  .modal-container {
    padding: 32px;
    min-width: 704px;
  }

  .modal-card {
    display: flex;
    column-gap: 32px;
  }
}

.modal-container-image {
  border-radius: 12px;
  background-color: inherit;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .modal-container-image {
    height: 100%;
    min-width: 270px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.modal-close-button {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  color: inherit;
  padding: 0;
  transition: scale var(--transition-duration) var(--transition-function);
}

.modal-close-button:hover {
  scale: 1.2;
}

.modal-summary {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .modal-summary {
    min-width: 10%;
  }
}

.modal-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
}

@media screen and (min-width: 768px) {
  .modal-title {
    font-size: 24px;
    line-height: 133.333%;
  }
}

.modal-rating {
  margin-top: 10px;
  color: var(--paper-white-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  gap: 2px;
}

.rating-stars {
  gap: 2px;
}

.hidden-svg-clip {
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
  width: 14px;
  height: 13px;
}

.params-list {
  margin-top: 20px;

  padding: 10px 0;
  border-color: rgb(var(--paper-white-rgb), 0.2);
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .params-list {
    padding: 8px 0;
    margin-top: 16px;
    gap: 16px;
  }
}

.params-item {
  text-wrap: nowrap;
}

.params-title {
  color: rgb(var(--paper-white-rgb), 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  width: fit-content;
}

.params-value {
  font-size: 14px;
  font-weight: 500;
  line-height: 128.571%;
}

.modal-description {
  margin-top: 20px;
  color: rgb(var(--paper-white-rgb), 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 128.571%;
}

@media screen and (min-width: 768px) {
  .modal-description {
    margin-top: 16px;
  }
}

.modal-container-buttons {
  min-width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .modal-container-buttons {
    margin-top: 64px;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: right;
  }
}

.modal-button {
  width: unset;
}

@media screen and (min-width: 768px) {
  .modal-button {
    width: fit-content;
  }
}

@media screen and (min-width: 768px) {
  .modal-button-favorite {
    flex-grow: 1;
  }
}

.icon-star {
  fill: rgb(var(--paper-white-rgb), 0.2);
}

.icon-star-filled {
  fill: #eea10c;
}
