<footer class="bg-inverse">
  <div class="container">
    <div class="footer-wrapper">

      <div class="footer-wrapper-container">
        <div class="footer-logo-social-container">
          <div class="footer-logo-container">
            <a href="./index.html" class="footer-logo">
              <svg class="fill-icon" width="132" height="24">
                <use href="/images/sprite.svg#icon-logo"></use>
              </svg>
            </a>
          </div>

          <div class="footer-social-container">
            <load src="partials/components/social-links.html" extra-class="inverse"></load>
          </div>
        </div>

        <div class="footer-title-input-container">
          <div class="footer-title-container">
            <h2 class="footer-title">Transforming your <em>body</em> shape with us</h2>
          </div>

          <form class="subscribe-form">

            <p class="footer-input-message">Subscribe and learn about new exercises!</p>
            <input
              class="input inverse subscribe-form"
              type="email"
              name="email"
              placeholder="Email"
              id="email"
              minlength="3"
              required
              aria-label="Email"
              pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            />
            <button id="subscribe-button" class="btn inverse subscribe-form" type="submit">
              <span class="button-text">Send</span>
              <span class="button-loader"></span>
            </button>

          </form>
          <div>

          </div>
        </div>
      </div>
      <div class="footer-bottom-container">
        <ul class="footer-bottom-text-container">
          <li class="footer-right-text">
            <a href="#">Your Energy. All rights reserved.</a>
          </li>
          <li class="footer-right-text">
            <a href="#privacy-policy">Privacy Policy</a> /
            <a href="#terms-of-service">Terms of Service</a>
          </li>
        </ul>
        <p class="footer-right-text">&copy;2023</p>
      </div>
    </div>
  </div>
</footer>
