<footer class="footer bg-inverse">
  <div class="container">
      <div class="footer-top-container">
        <div class="footer-logo-social-wrapper">
          <div class="footer-logo-container">
            <a href="./index.html" class="footer-logo" aria-label="Home page">
              <svg class="fill-icon" width="132" height="24">
                <use href="/images/sprite.svg#icon-logo"></use>
              </svg>
            </a>
          </div>

          <div class="footer-social-container">
            <load
              src="partials/components/social-links.html"
              extra-class="inverse"
            />
          </div>
        </div>

        <div class="footer-form-container">
          <h2 class="footer-title">Transforming your <em>body</em> shape with us</h2>

          <form class="subscribe-form">

            <p class="subscribe-form-message">Subscribe and learn about new exercises!</p>
            <input
              class="input inverse"
              type="email"
              name="email"
              placeholder="Email"
              id="email"
              minlength="3"
              required
              aria-label="Email"
              pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            />
            <button class="btn inverse" type="submit">
              <span class="button-text">Send</span>
              <span class="button-loader hidden"></span>
            </button>
          </form>
        </div>
      </div>
      <div class="footer-bottom-container">
        <p>Your Energy. All rights reserved.</p>
        <ul class="footer-policies">
          <li>
            <a href="#privacy-policy" aria-label="Privacy Policy">Privacy Policy</a>
          </li>
          <li>/</li>
          <li class="footer-right-text">
            <a href="#terms-of-service" aria-label="Terms of Service">Terms of Service</a>
          </li>
        </ul>
        <p>&copy;<span class="js-current-year">2023</span></p>
      </div>
  </div>
</footer>
