<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        Yor Energy
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="./index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./favorites.html">Favorites</a>
        </li>
        <ul>
          <li class="header social-item">
            <a
              class="social-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Link to Facebook"
            >
              <svg class="socials-icon" width="28" height="28">
                <use href="../images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </ul>
    </nav>
  </div>
</header>
