<aside class="sidebar">
  <div class="quote-wrapper sidebar-block">
    <div class="quote-icon">
      <svg class="quote-title-icon fill-icon">
        <use href="/images/sprite.svg#icon-runningman"></use>
      </svg>
    </div>
    <div class="quote-content">
      <div class="quote-title-wrapper">
        <h2 class="quote-title">Quote of the day</h5>
        <svg class="quote-title-icon fill-icon">
          <use href="/images/sprite.svg#icon-commas"></use>
        </svg>
      </div>
      <p class="quote-text" id="quote"></p>
      <p class="quote-author" id="author"></p>
    </div>
  </div>
  <div class="sidebar-image"></div>
  <div class="useful-info-wrapper sidebar-block">
    <div class="useful-info-icon">
      <svg class="quote-title-icon fill-icon">
        <use href="/images/sprite.svg#icon-dumbbell"></use>
      </svg>
    </div>
    <div class="useful-info-content">
      <p class="useful-info-title">110 min</p>
      <p class="useful-info-subtitle">Daily norm of sports</p>
      <p class="useful-info-text">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day? While it might seem like a high number to hit,
        dedicating 110 minutes daily to sporting activities may offer
        unparalleled benefits to physical health, mental well-being, and overall
        quality of life.
      </p>
    </div>
  </div>
</aside>
