<aside class="sidebar">
  <div class="quote-wrapper sidebar-block">
    <div class="quote-icon">
      <svg class="quote-title-icon fill-icon">
        <use href="/images/sprite.svg#icon-runningman"></use>
      </svg>
    </div>
    <div class="quote-content">
      <div class="quote-title-wrapper">
        <h2 class="quote-title">Quote of the day</h2>
        <svg class="quote-title-icon fill-icon">
          <use href="/images/sprite.svg#icon-commas"></use>
        </svg>
      </div>
      <p class="quote-text" id="quote"></p>
      <p class="quote-author" id="author"></p>
    </div>
  </div>
  <picture class="sidebar-picture">
    <source
      srcset="
        /images/{=$image}_desktop_webp@1x.webp 1x,
        /images/{=$image}_desktop_webp@2x.webp 2x
      "
      media="(min-width: 1152px)"
      type="image/webp"
    />
    <source
      srcset="
        /images/{=$image}_tablet_webp@1x.webp 1x,
        /images/{=$image}_tablet_webp@2x.webp 2x
      "
      media="(min-width: 768px)"
      type="image/webp"
    />
    <source
      srcset="
        /images/{=$image}_mobile_webp@1x.webp 1x,
        /images/{=$image}_mobile_webp@2x.webp 2x
      "
      media="(max-width: 767px)"
      type="image/webp"
    />
    <img
      src="/images/{=$image}_mobile_webp@1x.webp"
      alt="Hero main image"
      loading="{=$loading}"
      class="sidebar-image"
    />
  </picture>
  <div class="useful-info-wrapper sidebar-block">
    <div class="useful-info-icon">
      <svg class="quote-title-icon fill-icon">
        <use href="/images/sprite.svg#icon-dumbbell"></use>
      </svg>
    </div>
    <div class="useful-info-content">
      <p class="useful-info-title">110 min</p>
      <p class="useful-info-subtitle">Daily norm of sports</p>
      <p class="useful-info-text">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day? While it might seem like a high number to hit,
        dedicating 110 minutes daily to sporting activities may offer
        unparalleled benefits to physical health, mental well-being, and overall
        quality of life.
      </p>
    </div>
  </div>
</aside>
