<ul>
  <li class="social-item">
    <a
      class="social-link"
      href="https://www.facebook.com/goITclub/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Link to Facebook"
    >
      <svg class="social-icon" width="28" height="28">
        <use href="../images/sprite.svg#icon-facebook"></use>
      </svg>
    </a>
  </li>
  <li class="social-item reverse-color">
    <a
      class="social-link reverse-color"
      href="https://www.facebook.com/goITclub/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Link to Facebook"
    >
      <svg class="social-icon reverse-color" width="28" height="28">
        <use href="../images/sprite.svg#icon-facebook"></use>
      </svg>
    </a>
  </li>
</ul>

<button class="btn">
  Add to favorites
  <svg class="btn-icon" width="20" height="20">
    <use href="../images/sprite.svg#icon-facebook"></use>
  </svg>
</button>
<button class="btn reverse">Give a rating</button>
