<ul>
  <p style="margin-top: 40px;">Social-links.css </p>
  <li class="social-item">
    <a
      class="social-link"
      href="https://www.facebook.com/goITclub/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Link to Facebook"
    >
      <svg class="social-icon" width="28" height="28">
        <use href="../images/sprite.svg#icon-facebook"></use>
      </svg>
    </a>
  </li>
  <li class="social-item reverse-color">
    <a
      class="social-link reverse-color"
      href="https://www.facebook.com/goITclub/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Link to Facebook"
    >
      <svg class="social-icon reverse-color" width="28" height="28">
        <use href="../images/sprite.svg#icon-facebook"></use>
      </svg>
    </a>
  </li>
</ul>
<p style="margin-top: 40px;">Buttons.css region Buttons</p>
  <button class="btn">
    Add to favorites
    <svg class="btn-icon" width="20" height="20">
      <use href="../images/sprite.svg#icon-heart"></use>
    </svg>
  </button>

  <button class="btn reverse">Give a rating</button>
</p>

<p style="margin-top: 40px;">Inputs.css </p>
<div class="input-wrapper">
  <input
    class="input"
    type="text"
    name="search-input"
    id="search"
    minlength="3"
    required
    aria-label="Input for search"
  />
   <span class="placeholder-text">Input text</span>
  <span class="cursor">|</span>

  <span class="button-wrapper">
  <button type="button" class="input-button delete-button" aria-label="Delete button"><svg class="input-icon" width="18" height="18">
      <use href="../images/sprite.svg#icon-x"></use>
    </svg></button>

  
    <button type="button" class="input-button search-button" aria-label="Submit search"><svg class="input-icon search" width="18" height="18">
      <use href="../images/sprite.svg#icon-search"></use>
    </svg></button>
  </span>
</div>

<p style="margin-top: 40px;">Buttons.css region Nav Buttons</p>
<button class="nav-btn">Home</button>
<button class="nav-btn reverse">Favourites</button>

<p style="margin-top: 40px;">Buttons.css region Scroll Buttons</p>
<button class="scroll-btn-l">
  <svg class="scroll-icon" width="20" height="20">
    <use href="../images/sprite.svg#icon-arw-scroll"></use>
  </svg>
</button>
<button class="scroll-btn-s">
  <svg class="scroll-icon" width="20" height="20">
    <use href="../images/sprite.svg#icon-arw-scroll"></use>
  </svg>
</button>
